/OneDrive/Escritorio/Documentos/NetBeansProjects/JavaApplication1/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejercicio_Practico_Dom3/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejercicio_Practico_Dom3/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Vectores_VideoEjemplos/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Vectores_VideoEjemplos/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/VectoresMatrices_EjerciciosVideo/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/VectoresMatrices_EjerciciosVideo/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TutorialSwing/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TutorialSwing/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjemploTesting/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjemploTesting/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EXAMEN_FINAL_AMAYTS/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EXAMEN_FINAL_AMAYTS/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/ExamenFinal/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/ExamenFinal/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Semana10/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Testonly/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Testonly/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejemplo_ArrayList/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejemplo_ArrayList/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico1_DAUTE/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico1_DAUTE_Empleado/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjericicioPractico1_DAUTE/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico1_DAUTE/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejemplo_Polimorfismo_DAUTE/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_DAO_SWING_DAUTEDom16/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_DAUTE_SEM2_ConBD/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_Sem2_DAUTE_ConBD/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_Sem2_DAUTE_ConBD/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_DAUTE_Sem2_ConBD/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_DAUTE_Sem2_ConBD/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_DAUTE_Sem2_ConBD/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_videoSem3/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_videoSem3/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_videoSem3/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_DAO_SWING_DAUTEDom16/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TemporalReporte/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TemporalReporte/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TemporalReporte/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_Hospitalito/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_Hospitalito/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Foro_Hospitalito/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/ExamenPractico_Pelis/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/ExamenPractico_Pelis/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Practica_Proyectos/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Practica_Proyectos/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Prueba_JSP/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_DAO_SWING_DAUTEDom16/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/IntroJSP/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/IntroJSP/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JSP_EdadMeses/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JSP_EdadMeses/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico1_DAUTE/MVC_DAO_MYSQL/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico1_DAUTE/MVC_DAO_MYSQL/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/MVC_DAO_MYSQL/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/MVC_DAO_MYSQL/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/DesarrolloEjemploCompleto/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/DesarrolloEjemploCompleto/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/DesarrolloEjemploCompleto/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Practico2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Practico2/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Practico2/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EX_PRACTICO_2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EX_PRACTICO2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EX_PRACTICO2/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Tutorial_Reportes/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Tutorial_Reportes/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Tutorial_Reportes_1/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Tutorial_Reportes_1/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA2/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JPA2/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA2/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/EjercicioPractico_JPA2/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JPA_MetienesARTA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejemplo_JSF/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Ejemplo_JSF/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/MVC_DAO_MYSQL2/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JSF/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JSF/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JSF_JPA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/CRUD_JSF_JPA/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JPA_MetienesHARTAAA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JPA_MetienesHARTAAA/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/JPA_ESTOYHAAAARTA/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Final_DAUTE/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Final_DAUTE/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Examen_Final_DAUTE/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Consultorio-Secre/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Consultorio-Secre/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/TestApplet/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testapplet/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testwebapplet/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testapplet/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testapplet/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testwebapplet/dist/
/OneDrive/Escritorio/Documentos/NetBeansProjects/testwebapplet/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Consultorio_Secre/nbproject/private/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Consultorio_Secre/build/
/OneDrive/Escritorio/Documentos/NetBeansProjects/Consultorio_Secre/dist/
/OneDrive/Escritorio/Documentos/Consultorio_Secre/build/
/OneDrive/Escritorio/Documentos/Consultorio_Secre/dist/
/OneDrive/Escritorio/Documentos/Consultorio_Secre/nbproject/private/
/OneDrive/Escritorio/Consultorio_Secre/build/
/OneDrive/Escritorio/Consultorio_Secre/dist/
/OneDrive/Escritorio/Consultorio_Secre/nbproject/private/
/Downloads/ConverterPrj/build/